.main__top {
  padding: 40px 330px;
}

.main__top__path {
  padding-top: 15px;
}

.main__top__path > a > span {
  color: rgb(63, 62, 62);
}

.main__top__path span {
  font-size: 110%;
}

.main__checkout {
  margin-bottom: 60px;
}
/*  */
.main__checkout__left {
  padding-right: 60px;
}

.coupon-link {
  padding: 20px 40px;
  background-color: #f5f5f5;
  border-top: 1px solid black;
}

.coupon-link > h6 {
  padding-top: 10px;
  font-weight: 300;
}

.bill-details {
  margin-top: 50px;
}

.bill-details__title {
  border-bottom: 1px solid #cfcccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.bill-details__content label {
  font-weight: 450;
  font-size: 18px;
}
.bill-details__content label span {
  color: #f08859;
  font-weight: bold;
}

.bill-details__content .street-address {
  margin-bottom: 10px;
}

.bill-details__content .form-check-input,
.bill-details__content .form-check-label {
  vertical-align: middle;
}

.main__checkout__right {
  margin-left: -50px;
  background-color: #fdf3ea;
}

.your-order {
  padding: 20px 40px 0px;
}

.your-order__title,
.your-order__product,
.your-order__total {
  border-bottom: 1px solid #cfcccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.your-order h6 {
  font-size: 18px;
}
.your-order li {
  margin-bottom: 10px;
}

.your-order__product > ol {
  counter-reset: item;
  list-style-type: none;
  padding-left: 0px;
}

.your-order__product span {
  float: right;
}

.your-order__product > ol > li {
  display: block;
  margin-top: 15px;
  font-size: 18px;
}
.your-order__product > ol > li:before {
  content: counter(item, decimal-leading-zero) ". ";
  counter-increment: item;
  font-weight: 600;
}

.your-order__product > ol > li > span {
  font-weight: 600;
}

.your-order__total {
  list-style-type: none;
  padding: 0px 0px 20px;
}

.your-order__total > li {
  margin-top: 15px;
}

.your-order__total > li span {
  float: right;
  color: #f18632;
}

.place-order-button {
  padding-bottom: 20px;
}

.place-order-button > button {
  width: 100%;
  height: 50px;
  background-color: black;
}
