  <main>
      <section class="main__top">
          <div class="container">
              <div class="row justify-content-between">
                  <div class="col-auto">
                      <div class="title__thin">
                          <h1><b>Shop - Admin</b></h1>
                      </div>
                  </div>
                  <div class="col-auto">
                      <div class="main__top__path">
                          <a href="/"><span>Home</span></a>
                          <span>|</span>
                          <span>Shop</span>
                      </div>
                  </div>
              </div>
          </div>
      </section>
<section class="main__shop-admin">
  <div class="container">
              <div class="row">
                  <div class="shop__features">
                      <div class="shop__features__left">
                          <div class="shop__features__categories">
                              <select class="form-select" aria-label="Default select example">
                                  <option selected>Categories</option>
                                  <option value="1">Butter</option>
                                  <option value="2">Donut</option>
                                  <option value="3">Cupcake</option>
                                  <option value="4">Red Velvet</option>
                                  <option value="5">Biscuit</option>
                              </select>
                          </div>
                          <div class="shop__features__search">
                              <input type="text" placeholder="Search" />
                          </div>
                          <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="search__icon"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                          >
                              <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                              />
                          </svg>
                      </div>
                      <div class="shop__features__right">
                          <div class="shop__features__sort">
                              <select class="form-select" aria-label="Default select example">
                                  <option selected>Default sorting</option>
                                  <option value="1">Name</option>
                                  <option value="2">Price</option>
                              </select>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row" style="margin-top: 50px;">
                  <table class="table table-hover">
                      <tr class="table__head">
                          <th><h5>PRODUCT<span>NAME</span></h5></th>
                          <th><h5>PRICE</h5></th>
                          <th><h5>CATEGORY</h5></th>
                          <th><h5>OPTIONS</h5></th>
                      </tr>
                      <tr>
                          <td class="table__product">
                              <div class="table__product__img">
                                  <img src="/img/product-12.jpg" alt="T-SHIRT CONTRAST POCKET">
                              </div>
                              <div class="table__product__details">
                                  <h6>T-SHIRT CONTRAST POCKET</h6>
                              </div>
                          </td>
                          <td class="table__price"><span>$30.00</span></td>
                          <td class="table__category"><span>Cupcake</span></td>
                          <td class="table__buttons">
                              <div class="table__buttons__edit-product" onclick="location.href='./product-admin.html'">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                      <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-5 17l1.006-4.036 3.106 3.105-4.112.931zm5.16-1.879l-3.202-3.202 5.841-5.919 3.201 3.2-5.84 5.921z"/>
                                  </svg>
                                  <span>Edit product</span>
                              </div>
                              <div class="table__buttons__remove-product">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                      <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"/>
                                  </svg>
                                  <span>Remove product</span>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td class="table__product">
                              <div class="table__product__img">
                                  <img src="/img/product-8.jpg" alt="DIAGONAL TEXTURED CAP">
                              </div>
                              <div class="table__product__details">
                                  <h6>T-SHIRT CONTRAST POCKET</h6>
                              </div>
                          </td>
                          <td class="table__price"><span>$30.00</span></td>
                          <td class="table__category"><span>Cupcake</span></td>
                          <td class="table__buttons">
                              <div class="table__buttons__edit-product" onclick="location.href='./product-admin.html'">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                      <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-5 17l1.006-4.036 3.106 3.105-4.112.931zm5.16-1.879l-3.202-3.202 5.841-5.919 3.201 3.2-5.84 5.921z"/>
                                  </svg>
                                  <span>Edit product</span>
                              </div>
                              <div class="table__buttons__remove-product">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                      <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"/>
                                  </svg>
                                  <span>Remove product</span>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td class="table__product">
                              <div class="table__product__img">
                                  <img src="/img/product-2.jpg" alt="BASIC FLOWING SCARF">
                              </div>
                              <div class="table__product__details">
                                  <h6>T-SHIRT CONTRAST POCKET</h6>
                              </div>
                          </td>
                          <td class="table__price"><span>$30.00</span></td>
                          <td class="table__category"><span>Cupcake</span></td>
                          <td class="table__buttons">
                              <div class="table__buttons__edit-product" onclick="location.href='./product-admin.html'">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                      <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-5 17l1.006-4.036 3.106 3.105-4.112.931zm5.16-1.879l-3.202-3.202 5.841-5.919 3.201 3.2-5.84 5.921z"/>
                                  </svg>
                                  <span>Edit product</span>
                              </div>
                              <div class="table__buttons__remove-product">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                      <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"/>
                                  </svg>
                                  <span>Remove product</span>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td class="table__product">
                              <div class="table__product__img">
                                  <img src="/img/product-10.jpg" alt="BASIC FLOWING SCARF">
                              </div>
                              <div class="table__product__details">
                                  <h6>T-SHIRT CONTRAST POCKET</h6>
                              </div>
                          </td>
                          <td class="table__price"><span>$30.00</span></td>
                          <td class="table__category"><span>Cupcake</span></td>
                          <td class="table__buttons">
                              <div class="table__buttons__edit-product" onclick="location.href='./product-admin.html'">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                      <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-5 17l1.006-4.036 3.106 3.105-4.112.931zm5.16-1.879l-3.202-3.202 5.841-5.919 3.201 3.2-5.84 5.921z"/>
                                  </svg>
                                  <span>Edit product</span>
                              </div>
                              <div class="table__buttons__remove-product">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                      <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"/>
                                  </svg>
                                  <span>Remove product</span>
                              </div>
                          </td>
                      </tr>
                  </table>
              </div>
              <div class="row">
                  <div class="col">
                      <div class="add-product">
                          <button type="button" class="btn btn-secondary" onclick="location.href='#'">
                              <img src="/img/add-icon.png" alt="Add icon">
                              <span>&nbsp;Add a new product</span>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
</section>
</main>