<div class="container rounded bg-white mt-5 mb-5">
    <form id="form-change-password">
        <div class="row border">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img
                            src="<%= user.avatar %>"
                            alt="Avatar"
                            id="avatar"
                            style="height: 300px; object-fit: contain"
                            class="mb-3"
                    />
                </div>
            </div>
            <div class="col-md-6 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Change Password</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label class="labels">Current password</label>
                            <input
                                    type="password"
                                    class="form-control"
                                    name="currentPassword"
                                    placeholder="Your current password..."
                                    id="current-password"
                                    required
                            />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">New password</label
                            ><input
                                    type="password"
                                    class="form-control"
                                    name="newPassword"
                                    placeholder="Your new password..."
                                    id="new-password"
                                    required
                            />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Confirmed password</label
                            ><input
                                    type="password"
                                    class="form-control"
                                    placeholder="Confirm your new password..."
                                    name="confirmedPassword"
                                    id="confirmed-password"
                                    required
                            />
                        </div>
                    </div>
                    <div class="row mt-3" id="error-pane">
                        <p class="col-md-12" style="color: red">
                        </p>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">
                            Save Profile
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
