<main>
  <section class="main__address">
    <div class="container">
      <div class="map">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <div class="map__inner-info">
                <h6>COLORADO</h6>
                <ul>
                  <li>1000 Lakepoint Dr, Frisco, CO 80443, USA</li>
                  <li>Sweetcake@support.com</li>
                  <li>+1 800-786-1000</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="map__iframe">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10784.188505644011!2d19.053119335158936!3d47.48899529453826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1543907528304"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
          <!-- <iframe src="https://maps.google.com/maps?q=1000%20Lakepoint%20Dr,%20Frisco,%20CO%2080443,%20USA&t=&z=13&ie=UTF8&iwloc=&output=embed" height="300" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" loading="lazy"></iframe> -->
        </div>
      </div>
    </div>
  </section>
  <section class="main__contact">
    <div class="container">
      <div class="row some-contact">
        <div class="col-4">
          <div class="some-contact__contact-item">
            <h6>SAN BERNARDINO</h6>
            <ul>
              <li>
                <svg
                  width="24"
                  height="24"
                  xmlns="http://www.w3.org/2000/svg"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                >
                  <path
                    d="M12 10c-1.104 0-2-.896-2-2s.896-2 2-2 2 .896 2 2-.896 2-2 2m0-5c-1.657 0-3 1.343-3 3s1.343 3 3 3 3-1.343 3-3-1.343-3-3-3m-7 2.602c0-3.517 3.271-6.602 7-6.602s7 3.085 7 6.602c0 3.455-2.563 7.543-7 14.527-4.489-7.073-7-11.072-7-14.527m7-7.602c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602"
                  ></path>
                </svg>
                <span>795 W 5th St, San Bernardino, CA 92410, USA</span>
              </li>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M3.402 9c.384-4.965 3.619-9 8.598-9s8.214 4.035 8.598 9h-1.734c-.411-3.955-3.167-6.436-6.864-6.428-3.697-.008-6.453 2.473-6.863 6.428h-1.735zm-1.402 3.761v4.478c0 .973.788 1.761 1.762 1.761h2.238v-8h-2.238c-.974 0-1.762.789-1.762 1.761zm18.239-1.761h-2.239v8h2.239c.974 0 1.761-.788 1.761-1.76v-4.479c0-.972-.788-1.761-1.761-1.761zm-11.239 12.029c0 .536.436.971.972.971h3.028v-2h-3.028c-.536 0-.972.493-.972 1.029zm9.952-3.029c-.554 1.77-2.189 2.51-4.952 2.51v1.021c3.213 0 5.355-1.018 6-3.531h-1.048z"
                  ></path>
                </svg>
                <span>+1 800-786-1000</span>
              </li>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099 3.83-3.104 5.612 6.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z"
                  ></path>
                </svg>
                <span>Sweetcake@support.com</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4">
          <div class="some-contact__contact-item">
            <h6>SAN BERNARDINO</h6>
            <ul>
              <li>
                <svg
                  width="24"
                  height="24"
                  xmlns="http://www.w3.org/2000/svg"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                >
                  <path
                    d="M12 10c-1.104 0-2-.896-2-2s.896-2 2-2 2 .896 2 2-.896 2-2 2m0-5c-1.657 0-3 1.343-3 3s1.343 3 3 3 3-1.343 3-3-1.343-3-3-3m-7 2.602c0-3.517 3.271-6.602 7-6.602s7 3.085 7 6.602c0 3.455-2.563 7.543-7 14.527-4.489-7.073-7-11.072-7-14.527m7-7.602c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602"
                  ></path>
                </svg>
                <span>795 W 5th St, San Bernardino, CA 92410, USA</span>
              </li>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M3.402 9c.384-4.965 3.619-9 8.598-9s8.214 4.035 8.598 9h-1.734c-.411-3.955-3.167-6.436-6.864-6.428-3.697-.008-6.453 2.473-6.863 6.428h-1.735zm-1.402 3.761v4.478c0 .973.788 1.761 1.762 1.761h2.238v-8h-2.238c-.974 0-1.762.789-1.762 1.761zm18.239-1.761h-2.239v8h2.239c.974 0 1.761-.788 1.761-1.76v-4.479c0-.972-.788-1.761-1.761-1.761zm-11.239 12.029c0 .536.436.971.972.971h3.028v-2h-3.028c-.536 0-.972.493-.972 1.029zm9.952-3.029c-.554 1.77-2.189 2.51-4.952 2.51v1.021c3.213 0 5.355-1.018 6-3.531h-1.048z"
                  ></path>
                </svg>
                <span>+1 800-786-1000</span>
              </li>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099 3.83-3.104 5.612 6.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z"
                  ></path>
                </svg>
                <span>Sweetcake@support.com</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4">
          <div class="some-contact__contact-item">
            <h6>SAN BERNARDINO</h6>
            <ul>
              <li>
                <svg
                  width="24"
                  height="24"
                  xmlns="http://www.w3.org/2000/svg"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                >
                  <path
                    d="M12 10c-1.104 0-2-.896-2-2s.896-2 2-2 2 .896 2 2-.896 2-2 2m0-5c-1.657 0-3 1.343-3 3s1.343 3 3 3 3-1.343 3-3-1.343-3-3-3m-7 2.602c0-3.517 3.271-6.602 7-6.602s7 3.085 7 6.602c0 3.455-2.563 7.543-7 14.527-4.489-7.073-7-11.072-7-14.527m7-7.602c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602"
                  ></path>
                </svg>
                <span>795 W 5th St, San Bernardino, CA 92410, USA</span>
              </li>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M3.402 9c.384-4.965 3.619-9 8.598-9s8.214 4.035 8.598 9h-1.734c-.411-3.955-3.167-6.436-6.864-6.428-3.697-.008-6.453 2.473-6.863 6.428h-1.735zm-1.402 3.761v4.478c0 .973.788 1.761 1.762 1.761h2.238v-8h-2.238c-.974 0-1.762.789-1.762 1.761zm18.239-1.761h-2.239v8h2.239c.974 0 1.761-.788 1.761-1.76v-4.479c0-.972-.788-1.761-1.761-1.761zm-11.239 12.029c0 .536.436.971.972.971h3.028v-2h-3.028c-.536 0-.972.493-.972 1.029zm9.952-3.029c-.554 1.77-2.189 2.51-4.952 2.51v1.021c3.213 0 5.355-1.018 6-3.531h-1.048z"
                  ></path>
                </svg>
                <span>+1 800-786-1000</span>
              </li>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099 3.83-3.104 5.612 6.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z"
                  ></path>
                </svg>
                <span>Sweetcake@support.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row advisory">
        <div class="col-4">
          <div class="advice-schedule">
            <div class="title__thin">
              <h2><b>Contact with us</b></h2>
            </div>
            <ul>
              <li>Representatives or Advisors are available:</li>
              <li>Mon-Fri: 5:00am to 9:00pm</li>
              <li>Sat-Sun: 6:00am to 9:00pm</li>
            </ul>
            <div>
              <img src="/img/cake-piece.png" alt="CAKE PIECE IMAGE" />
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="customer-message">
            <form action="#">
              <div class="row">
                <div class="col-6">
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="input-name"
                      placeholder="Your name"
                    />
                    <label for="input-name">Name</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating mb-3">
                    <input
                      type="email"
                      class="form-control"
                      id="input-email"
                      placeholder="Email"
                    />
                    <label for="input-email">Email</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-floating">
                    <textarea
                      class="form-control"
                      id="input-message"
                      placeholder="Type your message here"
                      style="height: 150px"
                    ></textarea>
                    <label for="input-message">Message</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="send-button">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    onclick="location.href='#'"
                  >
                    SEND US
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
