<div class="body">
    <div class="signIn">
      <div class="signIn__left">
        <img src="/img/signin.jpg" alt="sign in picture" />
      </div>
      <div class="signIn__right">
        <h3>FORGET ACCOUNT</h3>
        <form method="post">
          <div class="signIn__right__input">
            <div class="forgetAccount__email" >
              <input type="text" placeholder="Email" name="email" />
            </div>
          </div>
          <button>GET PASSWORD</button>
          <a href="signIn"> SIGN IN</a>
          <span> || </span>
          <a href="signUp"> SIGN UP</a>
        </form>
      </div>
    </div>
  </div>
