<div class="body">
  <div class="signIn">
    <div class="signIn__left">
      <img src="/img/signin.jpg" alt="sign in picture" />
    </div>
    <div class="signIn__right">
      <h3>ACCOUNT LOGIN</h3>
      <form method="post">
        <div class="signIn__right__input">
          <div class="signIn__right__input__username">
            <input type="text" placeholder="Email" name="email" />
          </div>
          <div class="signIn__right__input__password">
            <input type="password" placeholder="Password" name="password" />
          </div>
        </div>
        <button>SIGN IN</button>
        <a href="forgetAccount">Forget Account</a>
        <span>||</span>
        <a href="signUp"> SIGN UP</a>
      </form>
    </div>
  </div>
</div>
