<div class="body">
  <div class="signUp">
    <div class="signUp__left">
      <img src="/img/signin.jpg" alt="sign up picture" />
    </div>
    <div class="signUp__right">
      <h3>ACCOUNT SIGN UP</h3>
      <form method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required />
        <label for="phone">Phone number</label>
        <input type="number" name="phone" id="phone" required />
        <label for="username">Email</label>
        <input type="email" name="email" id="email" required />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" required />

        <button type="submit">SIGN UP</button>
      </form>
      <a href="signIn">SIGN IN</a>
    </div>
  </div>
</div>
