<div class="body">
  <div class="signUp">
    <div class="signUp__left">
      <img src="/img/signin.jpg" alt="sign up picture" />
    </div>
    <div class="signUp__right">
      <h3>ACCOUNT SIGN UP</h3>
      <form>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
        <label for="phone">Phone number</label>
        <input type="number" name="phone" id="phone" />
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
        <label for="comfirmPassword">Comfirm Password</label>
        <input type="password" name="comfirmPassword" id="comfirmPassword" />
  
        <button>SIGN UP</button>
      </form>
  
      <a href="signIn">SIGN IN</a>
    </div>
  </div>
</div>
