<div class="container rounded bg-white mt-5 mb-5">
  <div class="row border">
    <div class="col-md-4 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5 border"
          width="150px"
          src="https://thumbs.dreamstime.com/b/eating-hungry-simple-emoji-face-concept-delicious-good-yummy-food-yum-yum-smile-tongue-glutton-flat-cartoon-138831849.jpg"
        /><span class="font-weight-bold mt-3">Edogaru</span
        ><span class="text-black-50">edogaru@mail.com</span><span> </span>
      </div>
    </div>
    <div class="col-md-6 border-right">
      <form method="get">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Profile Settings</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <label class="labels">Name</label
              ><input
                type="text"
                class="form-control"
                name="name"
                placeholder="Name"
                value="Edogaru"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Phone</label
              ><input
                type="text"
                class="form-control"
                name="phone"
                placeholder="Enter phone number"
                value="098765432"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Email</label
              ><input
                type="text"
                class="form-control"
                name="email"
                placeholder="Enter email"
                value="edogaru@mail.com"
              />
            </div>
          </div>
          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" type="submit">
              Save Profile
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
