@import "global.css";

.main__top {
    padding: 40px 330px;

}

.main__top__path > a,
.main__top__path > span {
    color:rgb(63, 62, 62);
    font-size: 110%;
}

.product-big {
    display: block;
    margin-left: 100px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
}

.product-big > img {
    height: 420px;
    width: 420px;
}

.main__product {
    padding: 30px 0px;
}

.product-detail {
    margin-left: 10px;
}

.mb-3 > label {
    font-weight: bold;
}

.input-img button {
    background-color: rgb(124, 18, 129);
}

.save-product {
    text-align: center;
    padding: 30px 0px 20px;
}

.save-product > button {
    height: 60px;
    width: 350px;
    background-color: black;
    font-size: 20px;
}
