@import "shop.css";

.main__top {
  padding: 40px 330px;
}

.add-product {
  text-align: center;
  padding: 0px 0px 40px;
}

.add-product > button {
  height: 60px;
  width: 350px;
  background-color: black;
  font-size: 20px;
}

.user {
  display: flex;
  padding: 10px 0px;
  border-bottom: 1px solid rgb(170, 169, 169);
  align-items: center;
}

.user-header,
.user:hover {
  background-color: rgb(245, 241, 241);
}

.user-header li span {
  padding-left: 50px;
}

.user__avatar {
  width: 100px;
  text-align: center;
}
.user__username,
.user__name {
  width: 250px;
}

.user__city,
.user__options {
  width: 200px;
}

.user__email {
  width: 400px;
}

li:not(.user-header) .user__email {
  font-style: italic;
  color: rgb(50, 30, 223);
}

.user__avatar > img {
  border-radius: 50px;
  width: 80px;
  height: 80px;
}

.user__username {
  margin-left: 20px;
}

.user__options__edit,
.user__options__remove {
  cursor: pointer;
  margin-bottom: 8px;
}

.user__options__edit > span,
.user__options__remove > span {
  color: rgb(250, 105, 8);
  font-weight: 500;
  font-size: 18px;
}

.pagination-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

.pagination-bar a {
  color: black;
  float: left;
  padding: 8px 15px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination-bar > a.active {
  background-color: rgb(124, 18, 129);
  color: white;
}

.pagination-bar > a > svg {
  padding-bottom: 4px;
}

.pagination-bar > a.previous-button {
  border-radius: 50px 0px 0px 50px;
}

.pagination-bar > a.next-button {
  border-radius: 0px 50px 50px 0px;
}

.pagination-bar > a:hover:not(.active) {
  background-color: rgb(172, 227, 248);
}
