<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/home.css" />
		<link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/checkout.css" />
		<link rel="stylesheet" href="/css/contact.css" />
		<link rel="stylesheet" href="/css/product.css" />
		<link rel="stylesheet" href="/css/product-admin.css">
		<link rel="stylesheet" href="/css/shop.css" />
		<link rel="stylesheet" href="/css/shop-admin.css">
		<link rel="stylesheet" href="/css/shoppingCart.css">
		<link rel="stylesheet" href="/css/signIn.css" />
		<link rel="stylesheet" href="/css/signUp.css" />

		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<title>Home</title>
	</head>
	<body>
    <header>
      <div class="header__top">
        <div class="header__top__left">
          <a href="/user/signIn"> Sign in </a>
        </div>
        <div class="header__top__mid">
          <img src="/img/logo.png" alt="logo" />
        </div>
        <div class="header__top__right">
          <img src="/img/search.png" alt="search icon" />
          <span>|</span>
          <img src="/img/heart.png" alt="heart icon" />
          <img src="/img/cart.png" alt="cart icon" />
          <p>Cart: $0.00</p>
        </div>
      </div>
      <div class="header__bottom">
        <a href="/" class="active"><div>Home</div></a>
        <a href="/shop"><div>Shop</div></a>
        <a href="/about"><div>About</div></a>
        <a href="/contact"><div>Contact</div></a>
      </div>
    </header>

	  {{{body}}}

    <section class="instagram">
      <div class="instagram__text">
        <h3 class="section__title">Follow us on instagram</h3>
        <h2 class="title__thin">Sweet moments are saved as memories.</h2>
        <div class="instagram__text__img">
          <img src="/img/cake-piece.png" alt="cake-piece" />
        </div>
      </div>
      <div class="instagram__img">
        <img src="/img/instagram-1.jpg" alt="instagram-1" />
        <img src="/img/instagram-2.jpg" alt="instagram-2" />
        <img src="/img/instagram-3.jpg" alt="instagram-3" />
        <img src="/img/instagram-4.jpg" alt="instagram-4" />
        <img src="/img/instagram-5.jpg" alt="instagram-5" />
        <img src="/img/instagram-2.jpg" alt="instagram-6" />
      </div>
    </section>

    <footer style="background-image: url(/img/footer-bg.jpg)">
      <div class="footer__top">
        <div class="footer__top__left">
          <h4>Working hours</h4>
          <span>Monday - Friday: 08:00 am - 08:30 pm</span>
          <span>Saturday: 10:00 am - 16:30 pm</span>
          <span>Sunday: 10:00 am - 16:30 pm</span>
        </div>
        <div class="footer__top__mid">
          <img src="/img/footer-logo.png" alt="footer-logo" />
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi
            quasi excepturi obcaecati nobis deserunt. In maxime veritatis vero
          </p>
        </div>
        <div class="footer__top__right">
          <h4>Subscribe</h4>
          <p>Get latest updates and offers</p>
          <input type="text" placeholder="Email" />
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__bottom__left">
          <span>
            Copyright ©2021 All rights reserved | This template is made with by
            Colorlib
          </span>
        </div>
        <div class="footer__bottom__right">
          <span>Privacy Policy</span>
          <span>Terms & Conditions</span>
          <span>Site Map</span>
        </div>
      </div>
    </footer>

		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>
	</body>
</html>
