<section class="shop">
<div class="shop__header">
  <h1 class="title__thin">Shop</h1>
  <div>
    <a href="/">Home</a>
    <span>|</span>
    <span>Shop</span>
  </div>
</div>
<div class="shop__features">
  <div class="shop__features__left">
    <div class="shop__features__categories">
      <select class="form-select" aria-label="Default select example">
        <option selected>Categories</option>
        <option value="1">Butter</option>
        <option value="2">Donut</option>
        <option value="3">Cupcake</option>
        <option value="4">Red Velvet</option>
        <option value="5">Biscuit</option>
      </select>
    </div>
    <div class="shop__features__search">
      <input type="text" placeholder="Search" />
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="search__icon"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
      />
    </svg>
  </div>
  <div class="shop__features__right">
    <div class="shop__features__sort">
      <select class="form-select" aria-label="Default select example">
        <option selected>Default sorting</option>
        <option value="1">Name</option>
        <option value="2">Price</option>
      </select>
    </div>
  </div>
</div>
<div class="shop__products">
  <div class="product">
    <a href="../pages/product.html">
      <div class="product__img">
        <img src="/img/product-1.jpg" alt="product-1" />
        <span>Cupccake</span>
      </div>
      <div class="product__info">
        <h5>Dozen Cupcakes</h5>
        <h5>$32.00</h5>
      </div>
    </a>
  </div>
  <div class="product">
    <div class="product__img">
      <img src="/img/product-2.jpg" alt="product-2" />
      <span>Cupccake</span>
    </div>
    <div class="product__info">
      <h5>Cookies and cream</h5>
      <h5>$30.00</h5>
    </div>
  </div>
  <div class="product">
    <div class="product__img">
      <img src="/img/product-3.jpg" alt="product-3" />
      <span>Cupccake</span>
    </div>
    <div class="product__info">
      <h5>Gluten free mini dozen</h5>
      <h5>$31.00</h5>
    </div>
  </div>
  <div class="product">
    <div class="product__img">
      <img src="/img/product-4.jpg" alt="product-4" />
      <span>Cupccake</span>
    </div>
    <div class="product__info">
      <h5>cookie dough</h5>
      <h5>$25.00</h5>
    </div>
  </div>
  <div class="product">
    <div class="product__img">
      <img src="/img/product-5.jpg" alt="product-5" />
      <span>Cupccake</span>
    </div>
    <div class="product__info">
      <h5>Vanilla salted caramel</h5>
      <h5>$5.00</h5>
    </div>
  </div>
  <div class="product">
    <div class="product__img">
      <img src="/img/product-6.jpg" alt="product-6" />
      <span>Cupccake</span>
    </div>
    <div class="product__info">
      <h5>German chocolate</h5>
      <h5>$14.00</h5>
    </div>
  </div>
  <div class="product">
    <div class="product__img">
      <img src="/img/product-7.jpg" alt="product-7" />
      <span>Cupccake</span>
    </div>
    <div class="product__info">
      <h5>Dulce de leche</h5>
      <h5>$32.00</h5>
    </div>
  </div>
  <div class="product">
    <div class="product__img">
      <img src="/img/product-8.jpg" alt="product-8" />
      <span>Cupccake</span>
    </div>
    <div class="product__info">
      <h5>Mississippi Mud</h5>
      <h5>$8.00</h5>
    </div>
  </div>
  <div class="product">
    <div class="product__img">
      <img src="/img/product-9.jpg" alt="product-8" />
      <span>Cupccake</span>
    </div>
    <div class="product__info">
      <h5>Mississippi Mud</h5>
      <h5>$8.00</h5>
    </div>
  </div>
  <div class="product">
    <div class="product__img">
      <img src="/img/product-10.jpg" alt="product-8" />
      <span>Cupccake</span>
    </div>
    <div class="product__info">
      <h5>Mississippi Mud</h5>
      <h5>$8.00</h5>
    </div>
  </div>
  <div class="product">
    <div class="product__img">
      <img src="/img/product-11.jpg" alt="product-8" />
      <span>Cupccake</span>
    </div>
    <div class="product__info">
      <h5>Mississippi Mud</h5>
      <h5>$8.00</h5>
    </div>
  </div>
  <div class="product">
    <div class="product__img">
      <img src="/img/product-12.jpg" alt="product-8" />
      <span>Cupccake</span>
    </div>
    <div class="product__info">
      <h5>Mississippi Mud</h5>
      <h5>$8.00</h5>
    </div>
  </div>
</div>
<div class="shop_pagination">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class=""><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="next"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
</section>