@import "global.css";

body {
	display: grid;
	place-content: center;
	padding: 100px 0px;
	background-color: rgba(102, 105, 105, 0.062);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.signIn {
	background-color: white;
	display: flex;
	justify-content: center;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 10px;
}

.signIn__left img {
	object-fit: cover;
	height: 75vh;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.signIn__right {
	padding: 60px;
	height: 100%;
	display: grid;
	place-content: center;
	text-align: center;
}

.signIn__right h3 {
	margin-bottom: 50px;
	font-size: 28px;
	letter-spacing: 5px;
}

.signIn__right__input {
	display: flex;
}

.signIn__right__input input {
	padding: 15px 10px;
	font-size: 20px;
	border: none;
}
.signIn__right__input input:focus-visible {
	outline-width: 0 !important;
}

.signIn__right__input__username,
.signIn__right__input__password {
	border: 1px solid rgba(255, 94, 2, 0.247);
}

.signIn__right__input__username {
	border-right: none;
}

.signIn__right button {
	display: block;
	text-decoration: none;
	background-color: rgb(240, 134, 50);
	color: white;
	padding: 12px 0px;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	border: none;
	margin-top: 20px;
	cursor: pointer;
}

.signIn__right a {
	margin: 10px 0px;
	display: inline-block;
	text-decoration: none;
	color: rgb(240, 134, 50);
	font-size: 18px;
}

.signIn__right a:hover {
	text-decoration: none;
}
