<section id="product">
  <div class="product__header">
    <h1 class="title__thin">Product detail</h1>
    <div>
      <a href="/"> <span>Home</span> </a>
      <span>|</span>
      <a href="/shop"><span>Shop</span> </a><span>|</span>
      <span>Sweet autumn leaves</span>
    </div>
  </div>
  <div class="product__detail">
    <div class="product__detail__img">
      <img src="/img/product-big-1.jpg" alt="" />
    </div>
    <div class="product__detail__info">
      <div class="product__detail__info__header">
        <span>Cupcake</span>
        <h3>Sweet autumn leaves</h3>
        <h4>$26.41</h4>
      </div>
      <div class="product__detail__info__describe">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
          perspiciatis laudantium corporis.
        </p>
        <div class="product__detail__info__label">
          <ul>
            <li>SKU: <span>17</span></li>
            <li>Category: <span>Biscuit cake</span></li>
            <li>Tags: <span>Gadgets, minimalisstic</span></li>
          </ul>
        </div>
        <div class="product__detail__option">
          <div class="quantity">
            <div class="pro-qty">
              <span class="dec qtybtn">-</span>
              <input type="text" value="2" />
              <span class="inc qtybtn">+</span>
            </div>
          </div>
          <a href="#" class="cart">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
  <div class="product__detail__tab">
    <span>Description</span>

    <div class="tab-content">
      <p>
        This delectable Strawberry Pie is an extraordinary treat filled with
        sweet and tasty chunks of delicious strawberries. Made with the freshest
        ingredients, one bite will send you to summertime. Each gift arrives in
        an elegant gift box and arrives with a greeting card of your choice that
        you can personalize online!
      </p>
    </div>
  </div>
</section>
<section class="review">
  <h3 class="section__title">Product reviews</h3>
  <div class="review__comments">
    <div class="comment__box">
      <div class="comment__customer__info">
        <img src="/img/customer1.jpg" alt="" />
        <div>
          <h4>Kerry D.Silva</h4>
          <span>New York</span>
        </div>
      </div>
      <div class="comment__message">
        <p>
          "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit et ea
          blanditiis sequi."
        </p>
      </div>
    </div>
    <div class="comment__box">
      <div class="comment__customer__info">
        <img src="/img/customer2.jpg" alt="" />
        <div>
          <h4>Ophela Nunez</h4>
          <span>London</span>
        </div>
      </div>
      <div class="comment__message">
        <p>
          "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit et ea
          blanditiis sequi."
        </p>
      </div>
    </div>
    <div class="comment__box">
      <div class="comment__customer__info">
        <img src="/img/customer3.jpg" alt="" />
        <div>
          <h4>Kim Dahyun</h4>
          <span>Seoul</span>
        </div>
      </div>
      <div class="comment__message">
        <p>
          "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit et ea
          blanditiis sequi."
        </p>
      </div>
    </div>
    <form>
        <div class="sendComment">
            <input class="comment__input" type="text" placeholder="Your comment" />
            <button type="submit" class="send__btn"><img src="/img/send.png" alt="send-icon"></button>
        </div>
    </form>
  </div>
</section>