<footer style="background-image: url(/images/footer-bg.jpg)">
  <div class="footer__top">
    <div class="footer__top__left">
      <h4>Working hours</h4>
      <span>Monday - Friday: 08:00 am - 08:30 pm</span>
      <span>Saturday: 10:00 am - 16:30 pm</span>
      <span>Sunday: 10:00 am - 16:30 pm</span>
    </div>
    <div class="footer__top__mid">
      <img src="/images/footer-logo.png" alt="footer-logo" />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi
        quasi excepturi obcaecati nobis deserunt. In maxime veritatis vero
      </p>
    </div>
    <div class="footer__top__right">
      <h4>Subscribe</h4>
      <p>Get latest updates and offers</p>
      <input type="text" placeholder="Email" />
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom__left">
      <span>
        Copyright ©2021 All rights reserved | This template is made with by
        Colorlib
      </span>
    </div>
    <div class="footer__bottom__right">
      <span>Privacy Policy</span>
      <span>Terms & Conditions</span>
      <span>Site Map</span>
    </div>
  </div>
</footer>