<header>
  <div class="header__top">
    <div class="header__top__left">
    </div>
    <div class="header__top__mid">
      <img src="/images/logo.png" alt="logo" />
    </div>
    <div class="header__top__right">
      <a href="#">Log out</a>
      <a href="#">User</a>
    </div>
  </div>
  <div class="header__bottom">
      <a href="/cakes" <% if (which == 'product') { %> class="active" <% } %>><div>Products List</div></a>
      <a href="/users" <% if (which == 'user') { %> class="active" <% } %>><div>Users List</div></a>
  </div>
</header>