<header>
  <div class="header__top">
    <div class="header__top__left">
    </div>
    <div class="header__top__mid">
      <img src="/images/logo.png" alt="logo" />
    </div>
    <div class="header__top__right">
      <% if (user) { %>
        <a href="/signOut">Sign out</a>
        <a href="/view"><%= user.name %></a>
      <% } %>
    </div>
  </div>
  <% if (user) { %>
    <div class="header__bottom">
      <a href="/cakes" <% if (which == 'product') { %> class="active" <% } %>><div>Products List</div></a>
      <a href="/users" <% if (which == 'user') { %> class="active" <% } %>><div>Users List</div></a>
      <a href="/statistics" <% if (which == 'statistics') { %> class="active" <% } %>><div>Statistics</div></a>
    </div>
  <% } %>
</header>