<main
  class="signin-admin">
  <section>
    <div
      class="container1">
      <div
        class="login">
        <div
          class="login__img">
          <img
            src="images/avatar-login.png"
            alt="IMG"/>
        </div>

        <form
          method="post"
          class="login__form">
          <span
            class="login__form__title">ACCOUNT LOGIN</span>

          <div
            class="wrap-input">
            <input
              class="login__input"
              type="text"
              name="email"
              placeholder="Email"
            />
          </div>

          <div
            class="wrap-input">
            <input
              class="login__input"
              type="password"
              name="password"
              placeholder="Password"
            />
          </div>

          <div
            class="login-button">
            <button
              class="button-login">
              Login
            </button>
          </div>

          <div
            class="text-center forgot-password">
            <span
              class="txt1"> Forgot </span>
            <a
              class="txt2"
              href="#">
              Username
              /
              Password? </a>
          </div>

          <div
            class="text-center sign-up">
            <a
              class="txt2"
              href="./signUp_admin.html">
              Create
              an
              account
            </a>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
