@import "./global.css";

main {
    margin-bottom: 100px;
}
.main__address {
    margin: 100px 0px 150px;
}

.map {
    position: relative;
    height: 300px;
}

.map > .container {
    position: relative;
    z-index: 1;
    top: 60px;
}

.map > .container > .row {
    display: flex;
    justify-content: center;
}

.map__inner-info {
    text-align: center;
    background: white;
    padding: 30px 10px 30px;
    /* position: relative; */
}

.map__inner-info ul li {
    list-style-type: none;
    margin: 5px 0px;
}

.map__iframe {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.map__iframe > iframe {
    width: 100%;
    height: 300px;
    border: 0;
}
  
.some-contact {
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(212, 210, 210);
    margin-bottom: 70px;
}

.some-contact__contact-item > h6 {
    font-weight: bold;
    margin-bottom: 20px;
}

.some-contact__contact-item > ul {
    list-style-type: none;
    padding-left: 0px;
}

.some-contact__contact-item > ul > li {
    margin-bottom: 20px;
}

.advice-schedule > ul {
    list-style-type: none;
    padding: 20px 0px;
}

.advice-schedule > ul > li {
    margin-bottom: 10px;
    font-size: 120%;
}
.advice-schedule > div > img {
    width: 100px;
    height: 100px;
}

.customer-message > form > .row {
    margin-bottom: 10px;
}
.send-button {
    padding: 20px 0px 0px;
}

.send-button > button {
    height: 50px;
    letter-spacing: 3px;
    background-color: black;
}