@import "shoppingCart.css";
@import "shop.css";

.table__head {
    background-color: rgb(245, 241, 241);
}

.table__head .product-head {
    padding-left: 20px;
}

.table__head th span {
    padding-left: 30px;
}

.table__product__details {
    /* vertical-align: middle; */
    padding-top: 40px;
}

.table__price,
.table__category {
    font-weight: 500;
    font-size: 18px;
    vertical-align: middle;
}

.table__price > span {
    padding-left: 5px;
}
.table__category > span {
    padding-left: 15px;
}
.table__buttons {
    vertical-align: middle;
}

.table__buttons__edit-product,
.table__buttons__remove-product {
    cursor: pointer;
    margin-bottom: 8px;
}

.table__buttons__edit-product > span,
.table__buttons__remove-product > span {
    color: orange;
    font-weight: 500;
    font-size: 18px;
}

.add-product {
    text-align: center;
    padding: 40px 0px;
}

.add-product > button {
    height: 60px;
    width: 350px;
    background-color: black;
    font-size: 20px;
}