<main>
  <section class="main__top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="title__thin">
            <h1><b>User detail</b></h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="main__user">
    <form class="container" method="post" enctype='multipart/form-data'>
      <div class="row justify-content-center">
        <div class="user-detail" style="width:60%">
          <div class="mb-3">
            <label for="phone" class="form-label">Phone:</label>
            <input
              type="text"
              class="form-control"
              id="phone"
              name="phone"
              value="<%= user.phone %>"
            />
          </div>
          <div class="mb-3">
            <label for="first-name" class="form-label">Name:</label>
            <input
              type="text"
              class="form-control"
              id="first-name"
              name="name"
              value="<%= user.name %>"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              value="<%= user.email %>"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="save-user">
            <button
              type="submit"
              class="btn btn-secondary"
            >
              <img
                src="/images/save-icon.png"
                alt="Save icon"
                style="width:30px;height:30px"
              />
              <span>&nbsp;Save user</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </section>
</main>