<main>
  <section class="main__top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="title__thin">
            <h1><b>Product detail</b></h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <form class="main__product" method="post" enctype="multipart/form-data">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="product-big">
            <img src="" alt="Product Big Image" />
          </div>
          <div class="input-group input-img">
            <input
              type="file"
              class="form-control"
              id="inputGroupFile04"
              name="figure"
              aria-describedby="inputGroupFileAddon04"
              aria-label="Upload"
              required
            />
            <button
              class="btn btn-secondary"
              type="button"
              id="inputGroupFileAddon04"
            >Upload</button>
          </div>
          <div class="mb-3" style="margin-top:20px">
            <label for="introduction" class="form-label">Introduction:</label>
            <textarea
              class="form-control"
              id="introduction"
              name="introduction"
              style="height:150px"
            ></textarea>
          </div>
        </div>
        <div class="col-6">
          <div class="product-detail">
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
              />
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price:</label>
              <input
                type="number"
                class="form-control"
                id="price"
                name="price"
              />
            </div>
            <div class="mb-3">
              <label for="sku" class="form-label">SKU:</label>
              <input type="number" class="form-control" id="sku" />
            </div>
            <div class="mb-3">
              <label for="category" class="form-label">Category:</label>
              <select
                class="form-select"
                id="category"
                name="category"
                aria-label="Default select example"
              >
                <option value="Butter">Butter</option>
                <option value="Donut">Donut</option>
                <option value="Cupcake">Cupcake</option>
                <option value="Red Velvet">Red Velvet</option>
                <option value="Biscuit">Biscuit</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="tags" class="form-label">Tags:</label>
              <div id="tags">
                <input type="checkbox" class="form-check-input" id="tag1" name="tags[0]" value="Gadget" />
                <label for="tag1" class="form-check-label">Gadget</label><br />
                <input type="checkbox" class="form-check-input" id="tag2" name="tags[1]" value="Minimalistic" />
                <label for="tag2" class="form-check-label">Minimalistic</label><br />
                <input type="checkbox" class="form-check-input" id="tag3" name="tags[2]" value="Sweet" />
                <label for="tag3" class="form-check-label">Sweet</label><br />
                <input type="checkbox" class="form-check-input" id="tag4" name="tags[3]" value="Delicious" />
                <label for="tag4" class="form-check-label">Delicious</label>
              </div>
            </div>
            <div class="mb-3" style="margin-top: 10px;">
              <label for="description" class="form-label">Description:</label>
              <textarea
                class="form-control"
                id="description"
                name="description"
                style="height:150px"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="save-product">
            <button
              type="submit"
              class="btn btn-secondary"
            >
              <img
                src="/images/save-icon.png"
                alt="Save icon"
                style="width:30px;height:30px"
              />
              <span>&nbsp;Save product</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>